@import "../../umumi.scss";
.logreg_bigdiv {
  width: 100%;
  background-color: #dceff3;
  padding: 50px 70px;
  // height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $anafont;

  .logreg_minidiv {
    max-width: 900px;
    margin: auto;
    height: 100% !important;
    // height: 570px;
    display: flex;
    // justify-content: center;
    // align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 5px;
    // border: 1px solid black;

    .logreg_img {
      width: 550px;
      max-width: 100%;
      // height: 550px;
      // height: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 4px solid black;
      // padding: 0 !important;
      padding: 10px 0px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }
    .logreg_text {
      width: 600px;
      max-width: 100%;
      padding: 30px 0px 30px 40px;
      // border: 2px solid green;
      .logreg_text_div {
        h1 {
          padding-bottom: 10px;
          text-align: center;
          font-weight: 700;
          font-size: 33;
        }
        form {
          div {
            margin-bottom: 10px;
          }
          input {
            width: 90%;
            padding: 10px 10px;
            outline: none;
            border: 1px solid rgba(192, 187, 187, 0.347);

            border-radius: 9px;
            margin: 5px 0px;
          }
          input.is-invalid {
            border-color: red;
          }

          .invalid-feedback {
            color: red;
            font-size: 0.8em;
          }
          span {
            color: red;
            text-decoration: none;
          }
          p {
            font-size: 13px;
            margin: 0 !important;
            // text-decoration: underline;
          }
          .add {
            width: 90%;
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            button {
              width: 47%;
              padding: 10px 0px;
              border: 1px solid $btn2;
              background-color: $btn2;
              color: white;
              border-radius: 4px;
              transition: 0.6s;
            }
            .btn2 {
              background-color: white;
              color: $btn2;
              &:hover {
                background-color: $btn2;
                color: white;
              }
            }
            .btn1:hover {
              color: $btn2;
              background-color: white;
            }
          }
          .or {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            // border: 1px solid black;
            padding: 20px 0px;
            p {
              font-size: 14px;
              font-weight: 400;
              text-decoration: none;
              // padding-top: 13px;
            }
            // &::after {
            //   content: "";
            //   width: 45%;
            //   height: 1px;
            //   border: 1px solid rgb(235, 230, 230);
            //   position: absolute;
            //   left: 0px;
            //   top: 50%;
            // }
            // &::before {
            //   content: "";
            //   width: 45%;
            //   height: 2px;
            //   border: 1px solid rgb(235, 230, 230);
            //   position: absolute;
            //   right: 0px;
            //   top: 50%;
            // }
          }
          .icon {
            width: 90%;
            display: flex;
            justify-content: center;
            a {
              padding: 5px 24px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1px solid rgba(212, 207, 207, 0.363);
              margin-right: 10px;
              border-radius: 4px;
              color: white;
              cursor: pointer;
              text-decoration: none;
              transition: 0.6s;
              &:hover {
                background-color: white;
              }
              &:hover i {
                color: $btn2;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .logreg_img {
    display: none !important;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 992px) {
  .logreg_bigdiv {
    padding: 30px 10px;
  }
  .logreg_minidiv {
    width: 600px !important;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
}

input.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 0.8em;
}
p {
  text-decoration: none;
}
