@import "../../umumi.scss";
.first_carusel_bigdiv2 {
  // border: 1px solid red;
}
.first_carusel_bigdiv1 {
  max-width: 1400px;
  width: 100%;
  height: 450px;
  font-family: $anafont;
  // border: 2px solid black;
  display: flex;
  align-items: center;
  margin: 0 auto !important;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .first_carusel_bigdiv {
    width: 100%;
    height: 100%;
    // height: 450px;
    display: flex;
    justify-content: space-between;
    // border: 1px solid black;
    padding-top: 40px;

    .first_carusel_img {
      width: 50%;
    }
    .first_carusel {
      width: 45%;
      color: black;
      text-align: left;
      padding-left: 60px;
      padding-top: 30px;
      // border: 1px solid black;
      h1 {
        // font-size: 0px;
        font-weight: 600;
        a {
          color: $btn1;
        }
      }
      p {
        font-size: 18px;
        font-weight: 500;
      }
      button {
        padding: 10px 30px;
        background-color: $btn2;
        border: 1px solid $btn2;
        border-radius: 5px;
        margin: 20px 0px;
        a {
          color: white;
          text-decoration: none;
          font-size: 16px;
          font-family: $anafont;
        }
      }
    }
  }
  .first_carusel_bigdiv_toys {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 50px;

    .first_carusel1 {
      // width: 600px;

      width: 50%;

      border-radius: 32px;
      background-color: white;
      text-align: center;
      padding: 30px 50px;
      color: black;
      position: relative;
      // border: 2px solid green;
      span {
        color: $btn1;
        font-size: 25px;
        font-weight: 500;
      }
      h3 {
        padding: 15px 0px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 34px;
      }
    }
    button {
      padding: 10px 30px;
      background-color: $btn1;
      border: 1px solid $btn1;
      border-radius: 5px;
      a {
        color: white;
        text-decoration: none;
        font-size: 16px;
      }
    }
    .first_carusel_simg1 {
      width: 78px;
      height: 146px;
      position: absolute;
      right: 10px;
      top: -50px;
    }
    .first_carusel_simg2 {
      width: 50px;
      height: 110px;
      position: absolute;
      left: 3px;
      bottom: 3px;
    }
  }
}

.carousel-indicators [data-bs-target] {
  width: 20px !important;
  height: 20px !important;
  border-radius: 100% !important;
  background-color: white !important;
  border: 1px solid $btn1 !important;
}
.carousel-indicators {
  max-width: 200px;
  width: 100%;
  justify-content: flex-start !important;
  bottom: 2% !important;
  // left: 0%;
  // border: 2px solid gray;
  margin: auto;
  // transform: translateX(-50%);
}
.carousel-control-next-icon {
  display: none !important;
}
.carousel-control-prev-icon {
  display: none !important;
}
.carousel-control-next {
  background-color: red !important;
  width: 0% !important;
  display: none !important;
}
.carousel-control-prev {
  background-color: red !important;
  width: 0% !important;
  display: none !important;
}
.carousel-caption {
  left: 0% !important;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: $btn1 !important;
}

// @media only screen and (max-width: 650px) {
//   .first_carusel {
//     margin-top: 80px !important;
//     h1 {
//       font-size: 47px !important;
//       p {
//         font-size: 30px !important;
//       }
//     }
//     button {
//       margin: 0px !important;
//       font-size: 20px;
//       padding: 3px 10px;
//     }
//   }
// }
.carousel-inner {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .first_carusel_bigdiv1 {
    // border: 3px solid red;
    height: calc(100vh - 40px);
  }
  .first_carusel_bigdiv {
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 40px 0px !important;
    // border: 2px solid green;
    // border: 1px solid black;
    // height: 100%;
    // border: 3px solid green;

    .first_carusel_img {
      // border: 3px solid blue;
      height: 600px;

      width: 100% !important;
      // display: none;
    }
    .first_carusel {
      width: 100% !important;

      text-align: center !important;
      padding: 0px !important;
      // border: 2px solid blue;
      p {
        font-size: 15px !important;
      }
    }
  }
  .first_carusel1 {
    width: 100% !important;
    height: max-content;
    padding: 30px 5px !important;
    p {
      font-size: 15px !important;
      line-height: 24px !important;
    }
  }
  .first_carusel_bigdiv_toys {
    padding: 0px 20px !important;
  }
  .first_carusel_simg1 {
    top: -40px !important;
    object-fit: contain !important;
    height: 88px !important;
  }
  .first_carusel_simg2 {
    object-fit: contain !important;
    height: 90px !important;
    bottom: -20px !important;
  }
  .rwd_carusel {
    // border: 3px solid red;
    display: flex;
    align-items: flex-end;
    // height: 400px !important;
  }
  // .first_carusel_bigdiv1 {
  //   padding: 40px 0px !important;
  //   img {
  //     display: none !important;
  //   }
  //   p {
  //     font-size: 17px !important;
  //   }
  // }
}
// @media only screen and (max-width: 600px) {
//   .first_carusel_bigdiv_toys {
//     padding: 30px 10px !important;
//   }
//   .first_carusel1 {
//     width: 700px;
//     padding: 20px 10px !important;

//     p {
//       font-size: 17px !important;
//       line-height: 24px !important;
//     }
//     h3 {
//       font-size: 19px !important;
//     }
//   }
// }
