@import '../../umumi.scss';
// .carousel{
//     width: 100%;
//     height: 600px;
//     background-image: url('../../img/child.jpg');
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-color: aquamarine;
//     background-attachment: fixed;
// }
.big_pscology{
    width: 100%;
    background-image: url('../../img/dashed-line-characters2\ \(1\)\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .mini_pscology{
          width: 80%;
          margin: 0px auto;
          .pscology_text{
            width: 100%;
            height: 400px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 52px;
              font-family: $elavefont ;
                padding: 40px 0px;
                color: #2B2A2A;
              

            }
            p{
                font-size: 22px;
                font-family: $anafont;
            }
          }
          .pscology_big_div{
            display:flex;
            // justify-content: center;
            // align-items: center;
            justify-content: space-between;
            padding: 30px 0px;
            .pscology_mini_div{
                width: 30%;
                position: relative;
                overflow: hidden;

                .pscology_mini_div_img{
                    width: 100%;
                    height: 500px;
                    cursor: pointer;
 
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                   

                }
                
                .pscology_mini_div_text{
                    background-color: rgba(255, 255, 255, 0.534);
                    color: black;
                    text-align: center;
                    width: 100%;
                    padding: 10px 0px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-family: $anafont;
                    transform: translateY(50px);
                    transition: 0.7s;

                    h1{
                        padding-bottom: 10px;
                        cursor: pointer;
                        font-size: 24px;
                    }
                }
                &:hover .pscology_mini_div_text{
                    transform: translateY(0px);

                }
            }
         
          }
          .pscology_btn{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 60px 0px;
            a{
            button{
                padding: 15px 40px;
                border-radius: 3px;
                background-color: $btn1;
                border:none;
                font-size: 16px;
                cursor: pointer;
                transition: 0.5s;
             
                color: white;
                text-decoration: none;
               
                &:hover{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                  
                }

            }
           } 
          
        }
    }
}
.big_pscology1{
    width: 100%;
    background-image: url('../../img/dashed-line-characters 3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .mini_pscology{
          width: 80%;
          margin: 0px auto;

          .pscology_text{
            width: 100%;
            height: 300px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;

            h1{
                font-size: 52px;
              font-family: $elavefont ;
                padding: 20px 0px;
                color: #2B2A2A;
              

            }
            p{
                font-size: 22px;
                font-family: $anafont;
            }
          }
 
          .pscology_btn{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 60px 0px;
            a{
            button{
                padding: 15px 40px;
                border-radius: 3px;
                background-color: $btn1;
                border:none;
                font-size: 16px;
                cursor: pointer;
                transition: 0.5s;
                
                    color: white;
                    text-decoration: none;
               
                &:hover{
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
                  
                }

            }
        }
          
        }
    }
}
.video_bigdiv{
    width: 100%;
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
  
      
       .video_div{
        width: 55%;
        img{
            width: 100%;
        }
       }
       .video_text{
        width: 45%;
        background-image: url('../../img/image\ 1.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 90px;
        h1{
            font-family: $elavefont;
            padding: 20px 0px;
            font-size: 50px;
        }
        p{
            font-family: $anafont;
            font-size: 20px;
        }
        
       }

    
}
.catdirilma_bigdiv{
    width: 100%;
    .catdirilma_minidiv{
        width: 80%;
        margin: 40px auto;
        padding: 60px 0px;
        display: flex;
        justify-content: space-between;
        .catdirilma_div{
            width: 24%;
            text-align: center;
            font-family: $anafont;
            img{
                width: 50px;
                height: 50px;
            }
            p{
                padding: 20px 0px;
            }
        }
    }
}
.mehsul_bigdiv{
    width: 100%;
    // padding: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .mehsul_div{
        width: 270px;
        max-width: 100%;
        .mehsul_img{
            width: 100%;
            height: 300px;
            border-bottom: none;
            display: flex;
            justify-content: center;
            padding: 20px;
            img{
                width: 100%;
                height: 100%;
                object-fit:cover;
            }
        }
        .mehsul_text{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // padding: 10px 5px;
            font-family: $anafont;
            // border: 2px solid red;
            h3{
                font-size: 20px;
            }
            p{
                color: $btn1;
                font-weight: 700;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {

}
@media only screen and (max-width: 768px) {
    .catdirilma_minidiv{
        flex-wrap: wrap;
    }
    .catdirilma_div{
        width: 45% !important;
    }
  

}
@media only screen and (max-width: 992px) {
    .pscology_big_div{
        flex-direction: column;
    }
    .pscology_mini_div{
        width: 100% !important;
        margin-bottom: 10px;

    }
    .video_bigdiv{
        flex-direction: column;
    }
    .video_div, .video_text{
        width: 100% !important;
    }
    .video_text{
        padding: 0px 10px;
    }

}
@media only screen and (min-width: 1200px) {

}
