@import "../../umumi.scss";
.quiz_bigdiv {
  max-width: 1400px;
  margin: auto;
  width: 100%;
  height: 450px;
  background-image: url("../../img/carusel_foryou.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  font-family: $anafont;
  .quiz_minidiv {
    width: 450px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    // border: 1px solid red;
    h1 {
      font-size: 40px;
      font-weight: 600;
    }
    p {
      font-size: 19px;
      font-weight: 500;
      padding: 10px 0px;
    }
    button {
      padding: 10px 40px;
      background-color: $btn2;
      border: 1px solid $btn2;
      border-radius: 5px;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
.activite_purpose_bigdiv {
  max-width: 1400px;
  margin: auto;
  padding: 90px 0px;
  font-family: $anafont;
  background-image: url("../../img/dashed-line-characters2 (1) 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  // background-position: center;
  p {
    padding: 40px 0px 20px 0px;
    font-size: 20px;
    font-weight: 400;
  }
  .activite_bigdiv {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
  }
  .purpose_bigdiv {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .activite_purpose_bigdiv p {
    font-size: 17px;
    padding: 10px !important;
  }
}
