@import '../../umumi.scss';
.carusel{
    width: 100%;
    height: 160px;
    background-image:url('../../img/Rectangle\ 56.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $anafont;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
   
}
.mehsul_div{
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}
.mehsul_bigdiv{
    width: 100%;
    padding: 40px 0px;
    font-family: $anafont;
    table{
        width: 1700px;
        max-width: 100%;
        margin: 30px auto;
        tr{
            text-align: center;

            th{
                font-size: 16px;
                padding: 25px 0px;
                border-bottom: 1px solid rgb(245, 240, 240);

            }
            td{
                border-bottom: 1px solid rgb(245, 240, 240);
                padding: 10px 0px;

                span{
                    
                    margin: 0px 10px;
                }

            }
        }
        img{
            margin: 20px 0px;
            width: 70px;
            height: 80px;
            object-fit: contain;

        }
        button{
            padding: 1px 15px;
            background-color: $btn1;
            border: 1px solid $btn1;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            transition: 0.5s;
            i{
                font-size: 12px;
            }
            &:hover{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }
        }
    }
}
.all_sum{
    width: 100%;
    padding: 70px 0px;
    text-align: center;
    font-family: $anafont;
    h1{
        font-size: 30px;
        span{
            color: $btn1;
        }
    }
    button{
      padding: 10px 50px;
      background-color: $btn2;
      border:1px solid $btn2;
      margin: 10px 0px;
      border-radius: 3px;
      color: white;

    }
}