@import "../../umumi.scss";
// .carousel{
//     width: 100%;
//     height: 600px;
//     background-image: url('../../img/child.jpg');
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-color: aquamarine;
//     background-attachment: fixed;
// }
.big_pscology {
  width: 100%;
  // background-image: url('../../img/dashed-line-characters2\ \(1\)\ 1.png');
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  // .mini_pscology{
  //       width: 80%;
  //       margin: 0px auto;
  // border: 2px solid black;

  .pscology_text {
    width: 100%;
    height: 250px;
    // background-image: url('../../img/dashed-line-characters2\ \(1\)\ 1.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    h1 {
      font-size: 52px;
      font-family: $elavefont;
      padding: 10px 0px;
      color: #2b2a2a;
    }
    p {
      font-size: 22px;
      font-family: $anafont;
    }
  }
  .pscology_cards {
    .pscology_cards_mini {
      width: 90%;
      margin: 40px auto;
      display: flex;
      justify-content: space-around;
      .pscology_card_div {
        width: 95%;
        box-shadow: 0px 4px 5px 3px rgba(47, 157, 184, 0.17);
        -webkit-box-shadow: 0px 4px 5px 3px rgba(47, 157, 184, 0.17);
        -moz-box-shadow: 0px 4px 5px 3px rgba(47, 157, 184, 0.17);
        border-radius: 15px;
      }
    }
  }

  // }
}
.pscology_card_div_img {
  height: 270px;
  border-bottom: 9px solid #40a6c06e;
  border-bottom-left-radius: 200px;

  img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
}
.pscology_card_div_text {
  padding: 20px 20px;
  font-family: $anafont;
  .pscology_card_div_text_name {
    h5 {
      padding: 0;
    }

    p {
      font-size: 16px;
    }
  }
  span {
    font-size: 13px;
    font-weight: 500;
  }
  .pscology_card_div_text_btn {
    display: flex;
    gap: 15px;
    // padding: 20px 0px;
    button {
      padding: 7px 50px;
      border-radius: 4px;
    }
    .pscology_card_div_text_btn1 {
      border: 1px solid $btn1;
      background-color: white;

      a {
        color: $btn1;
        text-decoration: none;
      }
    }
    .pscology_card_div_text_btn2 {
      border: 1px solid $btn1;
      background-color: $btn1;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
.pscology_cards_mini_bottom {
  width: 100%;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  padding-bottom: 90px;
  gap: 30px;
}
// .big_pscology1{
//     width: 100%;
//     background-image: url('../../img/dashed-line-characters 3.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     .mini_pscology{
//           width: 80%;
//           margin: 0px auto;

//           .pscology_text{
//             width: 100%;
//             height: 300px;
//             text-align: center;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             background-color: white;

//             h1{
//                 font-size: 52px;
//               font-family: $elavefont ;
//                 padding: 20px 0px;
//                 font-weight: 400;
//                 color: #2B2A2A;

//             }
//             p{
//                 font-size: 22px;
//                 font-weight: 400;
//                 font-family: $anafont;
//             }
//           }

//           .pscology_btn{
//             width: 100%;
//             display: flex;
//             justify-content: center;
//             padding: 60px 0px;
//             a{
//             button{
//                 padding: 15px 40px;
//                 border-radius: 3px;
//                 background-color: $btn1;
//                 border:none;
//                 font-size: 16px;
//                 cursor: pointer;
//                 transition: 0.5s;

//                     color: white;
//                     text-decoration: none;

//                 &:hover{
//                     box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

//                 }

//             }
//         }

//         }
//     }
// }
// .video_bigdiv{
//     width: 100%;
//     // border: 1px solid red;
//     display: flex;
//     justify-content: space-between;

//        .video_div{
//         width: 55%;
//         img{
//             width: 100%;
//         }
//        }
//        .video_text{
//         width: 45%;
//         background-image: url('../../img/image\ 1.png');
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: cover;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         padding: 0px 90px;
//         h1{
//             font-family: $elavefont;
//             padding: 20px 0px;
//             font-size: 50px;
//         }
//         p{
//             font-family: $anafont;
//             font-size: 20px;
//         }

//        }

// }
.catdirilma_bigdiv {
  width: 100%;
  border-top: 1px solid gray;
  font-family: $anafont;
  .catdirilma_minidiv {
    width: 80%;
    margin: 40px auto;
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    .catdirilma_div {
      width: 24%;
      text-align: center;
      font-family: $anafont;
      transition: 0.3s;
      img {
        width: 50px;
        height: 50px;
        cursor: pointer;
      }
      p {
        padding: 20px 0px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.mehsul_bigdiv {
  width: 100%;
  // padding: 40px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  // justify-content: space-between;
}
// .mehsul_div{
//     width: 27%;
//     max-width: 100%;
//     .mehsul_img{
//         width: 100%;
//         height: 300px;
//         border-bottom: none;
//         display: flex;
//         justify-content: center;
//         padding: 20px;
//         img{
//             width: 100%;
//             height: 100%;
//             object-fit:cover;
//         }
//     }
//     .mehsul_text{
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         // padding: 10px 5px;
//         font-family: $anafont;
//         // border: 2px solid red;
//         h3{
//             font-size: 20px;
//         }
//         p{
//             color: $btn1;
//             font-weight: 700;
//         }
//     }
// }
@media only screen and (max-width: 600px) {
  .video_text {
    padding: 10px 5px !important;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (max-width: 768px) {
  .catdirilma_minidiv {
    flex-wrap: wrap;
  }
  .catdirilma_div {
    width: 45% !important;
  }
}
@media only screen and (max-width: 992px) {
  .pscology_big_div {
    flex-direction: column;
  }
  .pscology_mini_div {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .video_bigdiv {
    flex-direction: column;
  }
  .video_div,
  .video_text {
    width: 100% !important;
  }
  .video_text {
    padding: 0px 10px;
  }
}
@media only screen and (min-width: 1200px) {
}
// _____________________________________________________________________________________________________________________

.swiper-button-prev .slider-arrow {
  border: 2px solid black !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(163, 161, 161, 0.454) !important;
}
.swiper {
  padding: 40px 20px 40px 65px !important;
}
.myswiper {
  border: 2px solid green !important;
}
